/*PAGINA PRINCIPAL */

#titulo_principal {
    text-align: center;
    margin-top: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/fondo.png"), #02003d;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

header {
    width: 100%;
    padding: 20px 20px;
    backdrop-filter: blur(8px);
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-elementos {
    display: flex;
    align-items: center;
    gap: 15px;
}

.botones-caja-texto {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn-general {
    margin-top: 15px;
    padding: 5px 10px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.caja-texto {
    width: 80vw; 
    height: 25vh;
    margin-top: 20px;
    resize: none;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 4px;
}

#header_usuario {
    font-weight: bold;
}

#btn_logout {
    padding: 5px 10px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#btn_logout {
    background-color: #ff3333;
}